<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"         
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="PayPoint Notification Package Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <server name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <server name="APP_ENV" value="testing"/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="DB_DATABASE" value=":memory:"/>
        <server name="TEMPLATE_ID" value="373c1fa4-2d9c-4a25-afb5-ffb21c537d85"/>
        <server name="PP_NOTIFICATION_endpoint" value="http://test.pp.com/v1"/>
        <server name="PP_NOTIFICATION_SUBSCRIPTION_KEY" value="test-subscription-key"/>
    </php>
</phpunit>